@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.hero {
  background-color: #1f2937;
  padding: 16px 200px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  color: #e5e7eb;
  text-decoration: none;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
  font-size: 18px;
  gap: 24px;
}

.hero-main {
  color: #e5e7eb;
  display: flex;
  font-size: 18px;
  gap: 32px;
  margin: 75px 0;
  padding: 75px 0;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-content {
  width: 50%;
}

.hero-content p {
  margin-top: 0;
  margin-bottom: 8px;
}

.hero-content button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 32px;
}

.hero-main img {
  background-color: gray;
  width: 50%;
}