@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  height: 100vh;
  margin: 0;
}

button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  color: #e5e7eb;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 0;
  width: 150px;
}

h2, 
p {
  margin: 0;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
}

.header {
  flex-direction: column;
  padding: 16px 200px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  color: #e5e7eb;
  text-decoration: none;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
  font-size: 18px;
  gap: 24px;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.hero {
  font-size: 18px;
  gap: 32px;
  justify-content: space-between;
  padding: 50px 200px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero img {
  height: 300px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 250px;
}

.information h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin: 48px 0;
  text-align: center;
}

.information-images {
  align-items: center;
  display: flex;
  text-align: center;
}

.information-image img {
  border: 3px solid #3882f6;
  border-radius: 16px;
  height: 150px;
  width: 150px;
}

.information-image p {
  margin: 5px 25px;
}

.quote-container {
  background-color: #e5e7eb;
  color: #1f2937;
  margin: 75px 0;
  padding: 100px 250px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.author {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.call-to-action {
  align-items: center;
  background-color: #3882f6;
  border-radius: 8px;
  color:#f9faf8;
  display: flex;
  justify-content: space-between;
  margin: 75px 200px;
  padding: 50px 50px;
}

.call-to-action button {
  border: 2px solid #e5e7eb;
}

.footer {
  justify-content: center;
  padding: 24px 0;
}